<h1>Hello World </h1>

<button id="prueba" data-url="<%= sigesp_tiposArticulos_path %>" 
	data-url-articulo="<%= sigesp_articulos_path %>">Catalogo</button>


<button id="prueba2"> preubameeeee</button>

<button id="prueba3"> sss</button>
