<div class="row page-header">
	<div class="col-md-2">
		<h3> Editar Usuario </h3>
	</div>
	<div class="col-md-10" align="right" >
		<%= link_to 'Regresar', administracion_usuarios_path,class:"btn btn-default" %>				
	</div>
</div>
<div class="row formulariousuario_nuevo" url="<%= administracion_usuarios_path %>" > 
	<%= render 'form' %>
</div>
